* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* "Helvetica Neue", sans-serif; */
}
.logo img {
  height: 85px;
}
.container {
  height: 100vh;
  width: 100%;
  /* margin-bottom: 10px !important; */
}

.hr-tag {
  margin-top: 21px;
  margin-bottom: 25px;
  color: red !important;
}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  /* margin: 20px 10px 0 0; */
  height: 85px !important;
  padding: 40px 20px 43px 25px;
}
.container nav .center ul {
  display: flex;
  width: 400px;
  /* height: 40px; */
  gap: 2px;
  /* justify-content: space-between; */
  /* border: 1px solid red; */
  /* margin: 0 10px; */
  margin-left: 220px;
}
.container nav .center ul li span {
  /* background-color: red; */
  color: #3d3d3d;
  font-weight: 550;
}
.container nav .center ul li {
  list-style: none;
  color: #8c8c8c;
  font-size: 15.5px;
  font-weight: 500;
  cursor: pointer;
  /* margin: 0 1px; */
  padding: 13px 17px 12px 17px;
  /* background-color: red; */
  border-radius: 27px;
  /* transition: 1s ease-in-out; */
}
.container nav .center ul .hvr {
  transition: 0.1s ease-in-out;
}
.container nav .center ul .hvr:hover {
  background-color: rgb(246, 246, 248);
  color: black;
}
.container nav .center ul .hvr a:hover {
  background-color: rgb(246, 246, 248);
  color: black;
}

.container nav .center ul li a {
  text-decoration: none;
  color: #8c8c8c;
  font-size: 15.5px;
}
.container nav .right {
  /* border: 1px solid black; */
  width: 320px;
  display: flex;
  align-items: center;
  /* margin-left: 150px; */
  /* justify-content: space-around; */
}

.container nav .right a {
  color: #7c7979;
  font-size: 14.5px;
  text-decoration: none;
  font-weight: 550;
  /* background-color: red; */
  padding: 13px 17px 12px 17px;
  border-radius: 30px;
  margin-right: 2px;
  /* color: red; */
}

.container nav .right a:hover {
  background-color: rgb(246, 246, 248);
  color: black;
}
.container nav .right .right_icn {
  border: 1px solid #dddddd;
  padding: 8.6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.container nav .right .icon1 {
  font-weight: 550;
  /* background-color: red; */
  padding: 15px;
  border-radius: 30px;
  margin-right: 5px;
}
.container nav .right .icon1:hover {
  background-color: rgb(246, 246, 248);
  color: black;
}
.container nav .right .right_icn .icon2 {
  margin-right: 15px;
  margin-left: 5px;
  font-size: 15.4px;

  /* color: red; */
}
.container nav .right .right_icn .icon3 {
  font-size: 30px;
  color: #646161;
}
.search_con {
  border: 1px solid #e7e7e2;
  height: 65px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* width: 90%; */
  gap: 2px;
  margin: 0 270px;
  border-radius: 100px;
  box-shadow: 1px 1px 10px rgb(216, 213, 213);
  /* border-bottom: 1px solid red; */
}

.search_con .sea_01 p {
  font-size: 14px;
  color: #767676;
  cursor: pointer;
}
.search_con .sea_01 h4 {
  color: #6b6969;
  font-size: 12px;
  cursor: pointer;
  font-weight: light;
  margin-bottom: 4px;
}
.search_con .sea_02 p {
  font-size: 14px;
  /* color: red; */
  color: #7e7c7c;

  cursor: pointer;
}
.search_con .sea_02 h4 {
  color: #6b6969;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 4px;
}
.search_con .sea_03 p {
  font-size: 14px;
  /* color: red; */
  color: #767676;

  cursor: pointer;
}
.search_con .sea_03 h4 {
  color: #6b6969;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 4px;
}
.search_con .sea_04 p {
  font-size: 14px;
  /* color: red; */
  color: #767676;

  cursor: pointer;
}
.search_con .sea_04 h4 {
  color: #6b6969;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 4px;
}

.search_con .sea_04 {
  display: flex;
}
.search_con .sea_01 {
  padding: 15px 150px 15px 32px;
  border-radius: 100px;
  /* background-color: red; */
  /* border-right: 1px solid blue; */
}
.search_con .sea_01:hover {
  background-color: #e7e7e2;
}
.search_con .sea_02 {
  padding: 15px 47px 15px 24px;
  border-radius: 100px;
}
.search_con .sea_02:hover {
  background-color: #e7e7e2;
}
.search_con .sea_03 {
  padding: 15px 47px 15px 24px;
  border-radius: 100px;
}
.search_con .sea_03:hover {
  background-color: #e7e7e2;
}
.search_con .sea_04 {
  padding: 8px 10px 10px 24px;
  border-radius: 100px;
  display: flex;
  /* gap: 10px; */
  justify-content: center;
  align-items: center;
}
.search_con .sea_04:hover {
  background-color: #e7e7e2;
}
.se-icon {
  margin-left: 76.5px;
}
.icon4 {
  font-size: 15px;
  color: white;
  padding: 16px;
  background-color: #ff385c;
  border-radius: 50px;
}
/* img-bar */
.img-bar {
  /* background-color: red; */
  margin: 10px 45px 0 45px;
}
.img-bar img {
  height: 24px;
  /* margin: 0 10px; */
  margin-bottom: 8px;
  /* color: red !important; */
  fill: red;
}
.img-bar {
  display: flex;
  margin-top: 23px;
}
.sub-img-bar {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #E7E7E2; */
}
.sub-img-bar p:hover {
  color: black;
  cursor: pointer;
}
.sub-img-bar p {
  font-size: 12.5px;
  color: #8a8a87;
  font-weight: 550;
}
.sub-img-icons i {
  margin-top: 6px;
  border: 1px solid #cac5c5;
  padding: 8px 10px 8px 10px;
  border-radius: 40px;
}
svg {
  color: blue; /* The SVG elements will inherit this color */
}

/* sub-img-card */
.s-img-bar img {
  width: 296px;
  height: 286px;
  border-radius: 12px;
}

.sub-img-card {
  display: grid;
  /* width: 9%; */
  /* height: 10%; */
  /* background-color: black; */
  /* border: 1px solid black; */
  margin: 30px 45px 51px 45px;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-row: repeat(5,284.5); */
  grid-template-rows: repeat(4, 1fr);
  column-gap: 25px;
  row-gap: 30px;
  /* margin-top: 30px; */
}
.s-img-bar {
  /* border: 1px solid red; */
  height: 375.28px;
  width: 295px;
  /* border-radius: 15px; */
}
.s-img-bar h4 {
  font-size: 15.4px;
  color: #222222;
  font-weight: bold;
  margin: 10px 0 3px 0;
}
.s-img-bar p {
  color: #807c7c;
  font-size: 15.4px;
}
.s-img-bar h5 {
  font-size: 14.7px;
  color: #222222;
  font-weight: 550;
  margin-top: 3px;
}
.sub-img-card2 {
  display: grid;
  margin: 22px 45px 80px 45px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 30px;
}
.main-img-card2 h1 {
  margin-left: 45px;
  color: #222222;
  font-size: 30px;
}
/* content01 */
.content04 > .con_04_ul_01 {
  margin-top: 30px;
  /* background-color: red; */
}

/* contect03 section */
.con04_ul_03 {
  margin-bottom: 50px;
}
.content03 {
  margin: 0 45px 0 45px;
}
.content03 h3 {
  font-size: 22.5px;
  color: #222222;
  font-weight: light;
}
.cont_03_anchor {
  /* height: 500px; */
  margin-top: 20px;
  /* border: 1px solid red; */
}
.cont_03_anchor > hr {
  color: red;
  font-weight: normal;
}
.content03 > .cont_03_anchor ul {
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  /* padding: 0; */
  margin-bottom: 15px;
}
.content03 > .cont_03_anchor ul li {
  /* margin: 0 10px; */

  margin-right: 28px;
  list-style: none;
}
.content03 > .cont_03_anchor ul li a {
  text-decoration: none;
  color: #575555;
  font-size: 15px;
  font-weight: bold;
}
/* content04 */
footer {
  /* background-color: red; */
  background-color: #f7f7f7;
  padding-top: 50px;
}
.content04 {
  margin: 0 45px 0 45px;
  /* background-color: #F7F7F7; */
}
.content04 ul {
  display: flex;
  justify-content: space-between;
}
.content04 > ul > .con04_li {
  /* padding: ; */
  margin-right: 5px;
  list-style: none;
  /* border: 1px solid red; */
  width: 220px;
  /* height: 50%; */
}
.con04_li > .con04_li_01 > a {
  color: rgb(80, 77, 77);
  font-weight: bold;
  /* font-weight: bold; */
  /* background-color: red; */
}
.con04_li > .con04_li_02 > a {
  color: #928e8e;
  /* font-weight: bold; */
  /* background-color: red; */
}
.content04 ul .con04_li a {
  font-size: 14px;
  text-decoration: none;
}
.con04_ul_02 {
  margin-top: 20px;
}
.con04_ul_03 {
  margin-top: 20px;
}
.container > .hr02 {
  margin: 40px 0;
}

/* content 05 */
.cont05 {
  display: flex;
  margin: 0 45px 0 45px;
  gap: 7px;
}
.cont05 ul {
  /* border: 1px solid red; */
  width: 600px;
}
.cont05 ul li {
  list-style: none;
  margin: 13px 0;
}
.cont05 ul li a {
  text-decoration: none;
  font-size: 14.5px;
  /* color: red; */
  color: #6e6c6c;
}

.cont05 > ul > .con05_li {
  color: rgb(70, 68, 68);
  margin-top: 46px !important;
  font-size: 14px;
  font-weight: bold;
}
/* hr 03 */
.hr03 {
  margin: 45px 45px 50px 45px;
}
/* last content */
.last-con {
  display: flex;
  margin: 0 45px 50px 45px;
  justify-content: space-between;
  padding-bottom: 22px;
}
.last-con ul li {
  list-style: none;
  font-size: 14px;
}
.last-con ul li a {
  text-decoration: none;
  /* font-size: 14px; */
  /* color: #817e7e ; */
}

.last-con > .last-left > ul > li > a {
  /* color: red; */
  color: #575555;
}

.last-con > .right-left > ul > li > a {
  /* color: red; */
  color: black;
}

.last-con .last-left ul {
  display: flex;
  gap: 20px;
}

.last-con .last-left ul li {
  /* margin-right: 10px; */
}

.last-con .last-right ul {
  display: flex;
  gap: 20px;
}

.last-con .last-right ul li .last_icon03 {
  /* margin-right: 20px; */
  font-size: 18px !important;
  color: black;
}

.last-con .last-right ul li .last_icon01 {
  /* margin-right: 20px; */
  font-size: 14px !important;
  margin-right: 3px;
}
